In [1]:
import pandas as pd
import re

In [2]:
df=pd.read_csv('twitter_training.csv', header=None)

In [29]:
df

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
...,...,...,...,...
74677,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74678,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74679,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74680,9200,Nvidia,Positive,Just realized between the windows partition of...
74681,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [30]:
df.shape

(74682, 4)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74682 entries, 0 to 74681
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       74682 non-null  int64
 1   1       74682 non-null  object
 2   2       74682 non-null  object
 3   3       73996 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [32]:
df.head()

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [33]:
df.columns = ['ID', 'Title', 'Sentiment', 'Text']

In [34]:
df.isnull().sum()

ID             0
Title          0
Sentiment      0
Text         686
dtype: int64

In [36]:
df=df.dropna(subset='Text')

In [37]:
# Remove punctuation
# Remove numbers
 # Convert to lowercase

In [39]:
def clean_text(text):
    text = re.sub(r'[^\w\s]', '', text)  
    text = re.sub(r'\d+', '', text)  
    text = text.lower() 
    return text

df['Cleaned_Text'] = df['Text'].apply(clean_text)


df.head()

C:\Users\rajku\AppData\Local\Temp\ipykernel_1344\651819178.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cleaned_Text'] = df['Text'].apply(clean_text)

,ID,Title,Sentiment,Text,Cleaned_Text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...,i am coming to the borders and i will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...,im getting on borderlands and i will kill you all
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...,im getting on borderlands and i will murder y...

In [41]:
import nltk

In [44]:
from nltk.tokenize import word_tokenize
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

In [45]:
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\rajku\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rajku\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [46]:
#Part of speach tager
def get_wordnet_pos(word):
    
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

In [48]:
lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
    words = word_tokenize(text)
    lemmatized_words = [lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in words]
    return ' '.join(lemmatized_words)

In [49]:
df['Lemmatized_Text'] = df['Cleaned_Text'].apply(lemmatize_text)

C:\Users\rajku\AppData\Local\Temp\ipykernel_1344\2418333604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lemmatized_Text'] = df['Cleaned_Text'].apply(lemmatize_text)

In [51]:
df.head()

,ID,Title,Sentiment,Text,Cleaned_Text,Lemmatized_Text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...,im getting on borderlands and i will murder yo...,im get on borderland and i will murder you all
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...,i am coming to the borders and i will kill you...,i be come to the border and i will kill you all
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...,im getting on borderlands and i will kill you all,im get on borderland and i will kill you all
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...,im coming on borderlands and i will murder you...,im come on borderland and i will murder you all
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...,im getting on borderlands and i will murder y...,im get on borderland and i will murder you me all

In [58]:
from textblob import TextBlob

In [59]:
def get_polarity(text):
    return TextBlob(text).sentiment.polarity

df['Polarity'] = df['Lemmatized_Text'].apply(get_polarity)

C:\Users\rajku\AppData\Local\Temp\ipykernel_1344\1781169547.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Polarity'] = df['Lemmatized_Text'].apply(get_polarity)

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [53]:
X = df['Lemmatized_Text']
y = df['Sentiment']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


print(X_train.shape, X_test.shape)

(59196,) (14800,)

In [54]:
vectorizer = TfidfVectorizer(max_features=5000)
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)


print(X_train_tfidf.shape, X_test_tfidf.shape)

(59196, 5000) (14800, 5000)

In [55]:
model = LogisticRegression()
model.fit(X_train_tfidf, y_train)


print(model.coef_)

[[ 0.48073063 -0.07635905  0.43658437 ... -0.46262897 -0.1894885
  -0.49974946]
 [-0.04137674  0.51542469 -0.22536664 ... -0.06880538 -0.21532744
   1.52035872]
 [-0.2511095  -0.62870715 -0.52211115 ...  0.94903275  0.01287871
  -0.7483403 ]
 [-0.18824439  0.1896415   0.31089342 ... -0.4175984   0.39193724
  -0.27226896]]

E:\PYTHON SOFTWARE\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [57]:
y_pred = model.predict(X_test_tfidf)


accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)


print(classification_report(y_test, y_pred))

Accuracy: 0.6752702702702703
              precision    recall  f1-score   support

  Irrelevant       0.67      0.48      0.56      2696
    Negative       0.71      0.77      0.74      4380
     Neutral       0.64      0.63      0.63      3605
    Positive       0.67      0.74      0.70      4119

    accuracy                           0.68     14800
   macro avg       0.67      0.66      0.66     14800
weighted avg       0.67      0.68      0.67     14800